<section class="section-content padding-y">

	<div class="text-center" style="width:100%; height:auto;">
		<p style="font-size:30px; font-weight: 600;">ADD Department</p>
	</div>
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title"></h4></header>
		<form action="" method="POST" id="department">
			{% csrf_token %} 
            <div class="form-group">
                <h4 class="card-title mb-4 mt-3">Enter Deparment Name</h4>
                <input type="text" class="form-control" placeholder="Department Name" value="{{department.name}}"
                    name="department_name">
            </div>
            <div class="form-group">
                <h4  class="card-title mb-4 mt-3"> Enter Description</h4>
                <input type="text" class="form-control" placeholder="Description"
                    value="{{department.description}}" name="description">
            </div>
			    <div class="form-group">
			        <button type="submit" style="background-color: #5cb85c;" class="btn btn-block"> <p style="color: #fff;">Create</p> </button>
			    </div> <!-- form-group// -->      
			        {{ form.email.error }}
					{{ form.non_field_errors }}
			
				</form>
            
			<style>
				.error{
					color:red !important;
				}
			</style>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>

    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>